<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://cs-db.ncl.ac.uk/csc1035_team40</property>
        <property name="hibernate.connection.username">csc1035_team40</property>
        <property name="hibernate.connection.password">LavaBan=Hark</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="main.Item" /> <!--- Add a new mapping class for a new table in the database -->

        <mapping class="main.Item" />
        <mapping class="main.Menu" />
        <mapping class="main.test" />
        <mapping class="main.Transaction" />
        <mapping class="main.epos" />


    </session-factory>
</hibernate-configuration>